<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">Ejemplo de página principal: seleccione un elemento para ver sus detalles</p>
        </div>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">Salir</a></li>
        </ul>
    </div>
</nav>
<div role="main" class="container">
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Año</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="coche in coches">
                <td ng-click="showDetails(coche)"><img src="{{coche.img}}" class="productImageThumbnail">{{coche.model}}</td>
                <td>{{coche.brand}}</td>
                <td>{{coche.year}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>